
*{
    box-sizing: inherit;
    padding: 0;
    margin:0;
}

html{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.body {
}

.main{
    width: 100%;
    background-color: #9b59b6;
}

.form{
    width:380px;
    background-color: #fff;
    border: 3px solid #999;
}

form#form-1 {
    display: block;
    margin: auto;
}

.heading{
    font-size: 25px;
    text-align: center;
    font-weight:500;
    margin: 20px;
}

.desc{
    color:#999;
    margin-bottom: 60px;
    text-align: center;
    font-size: 18px;
}

.form-group{
    display: grid;
    margin: 25px;
}

.form-label{
    font-size: 18px;
    padding-bottom: 10px;
}

.form-group.invalid input{
    border: 2px solid #e74c3c;
    outline: none;
    outline-style: none;
}
.form-group input{
    border: 2px solid #999;
    border-radius: 4px;
    font-family: inherit;
}

#fullname,
#email,
#password,
#password_confirmation {
    padding: 12px;
    font-size: 16px;
}

.form-message{
    margin-top: 5px;
}

button.button-primary {
    font-size: 18px;
    width: 85%;
    background-color: #1dbfaf;
    color: white;
    border: #999;
    border-radius: 14px;
    height: 40px;
    font-weight: 600;
    display: block;
    margin:auto;
}
